<div class="dialogBox">
  <div class="tape1"><div class="mlabel">Contact App Developer</div></div> 
  <div class="restContact">
  <div style="user-select:initial;">Email : disha.it@outlook.com</div>
 <!--  <div class="buttons">
  <button type="button" class="notnow btn btn-primary" ng-click="clickDeleteNo()">{{'BUTTON-NOTNOW' | translate}}</button>
  <button type="button" class="moveto btn btn-primary" ng-click="clickDeleteYes()">{{'BUTTON-MOVETOTRASH' | translate}}</button>
  </div> -->
  </div>
</div>