<div class="dialogBox">
  <div class="tape"><div class="mlabel">{{'BUTTON-MOVETOTRASH' | translate}}</div></div>
  <div class="image1">
    <i class="fa fa-trash fa-3x" aria-hidden="true"></i>
  </div> 
  <div class="rest">
  <div >{{'TEXT-CONFIRMMESSAGE' | translate}}</div>
  <div class="buttons">
  <button type="button" class="notnow btn btn-primary" ng-click="clickDeleteNo()">{{'BUTTON-NOTNOW' | translate}}</button>
  <button type="button" class="moveto btn btn-primary" ng-click="clickDeleteYes()">{{'BUTTON-MOVETOTRASH' | translate}}</button>
  </div>
  </div>
</div>