<div class="dialogBox1">
  <div class="tape"><div class="mlabel">Error</div></div>
  <div class="image1">
    <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
  </div> 
  <div class="rest">
  <div >Sharing of Social Icons allowed only in live site .</div>
  <div class="buttons1">
  <!-- <button type="button" class="moveto btn btn-primary" ng-click="clickBackYes()">Go Back</button> -->
  <button type="button" class="notnow btn btn-primary" ng-click="clickBackNo()">OK</button>
  </div>
  </div>
</div>