<div class="dialogBox">
  <div class="tape"><div class="mlabel">Go Back</div></div>
  <div class="image1">
    <i class="fa fa-trash fa-3x" aria-hidden="true"></i>
  </div> 
  <div class="rest">
  <div >Sure you want to exit? You may lose unsaved changes.</div>
  <div class="buttons1">
  <button type="button" class="moveto btn btn-primary" ng-click="clickBackYes()">Back to Home</button>
  <button type="button" class="notnow btn btn-primary" ng-click="clickBackNo()">Continue Editing</button>
  </div>
  </div>
</div>