<div class="dialogBox">
  <div class="tape"><div class="mlabel">{{'BUTTON-UPGRADE' | translate}}</div></div>
  <div class="image1">
    <i class="fa fa-trash fa-3x" aria-hidden="true"></i>
  </div> 
  <div class="rest">
  <div >{{'TEXT-UPGRADEMESSAGE' | translate}}</div>
  <div class="buttons">
  <button type="button" class="btn btn-primary" ng-click="clickUpgradeNo()">{{'BUTTON-NOTNOW' | translate}}</button>
  <button type="button" class="btn btn-primary" ng-click="clickUpgradeYes()">{{'BUTTON-UPGRADENOW' | translate}}</button>
  </div>
  </div>
</div>