<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  <div style="width: 102%;">
  	<img class="app-logo" src="images/recipes-logo.svg" alt="app logo"/>
  	<span style="font-size:25px"><span style="padding:8px;">Recipes App</span></span>
  	<span style="font-size:10px"><span style="padding:4px;">{{'TEXT-BY' | translate}} Idealogiz Group</span></span>
  <span ng-show="showUpgradeButton"><button type="button" class="btn purple btn-primary btn-md pull-right" style="margin-top:15px;margin-right:5px;" ng-click="openBilling()">{{'BUTTON-UPGRADE' | translate}}</button></span>
  <span><a href="mailto:disha.it@outlook.com?subject=Hello !!"><button type="button" class="btn btn-outline-warning btn-md pull-right" style="margin-top:15px;margin-right:5px;">{{'BUTTON-CONTACTUS' | translate}}</button></a></span>
  <span><a ng-href={{settingsUrl}} target="_blank"><button type="button" class="btn btn-outline-warning btn-md pull-right" style="margin-top:15px;margin-right:5px;">{{'BUTTON-GOTO' | translate}} Wix Editor</button></a></span>
    </div>
  </div>
</nav>
<div class="container" style="padding-top: 60px;">
<!-- <div>{{recipes}}</div>
 -->
 <!-- <div>{{settingsUrl}}</div> -->
  <div ng-show = "needSavingDraft" class="ui small warning message" style="margin-top:30px">
  <i class="close icon"></i>
  <div class="header">
  {{'TEXT-SAVEYOURCHANGES' | translate}}
  </div>
  <p>{{'TEXT-DSAVEYOURCHANGES' | translate}}</p>
</div>
<!--  <div class="row" style="margin-top:30px">
 	<!- - <button type="button" class="btn btn-outline-primary btn-lg pull-right" ng-disabled="!needSavingDraft" ng-click="saveChangesDashDraft()">{{'BUTTON-SAVECHANGES' | translate}}</button> - ->
    <a href="" ng-click="gotoDash()"><button type="button" class="btn btn-outline-primary btn-lg pull-left">{{'BUTTON-BACK' | translate}}</button></a>
    <button type="button" class="btn btn-primary btn-lg" ng-click="gotoCreateRecipe()" ng-if="!theTrueDashRecipes.length==0" style="float:right;" >{{'BUTTON-ADDARECIPE' | translate}}</button>
</div> -->
 <div class="row" style="margin-top:30px;position:relative;">
    <!-- <button type="button" class="btn btn-outline-primary btn-lg" ng-disabled="!needSaving" ng-click="saveChangesDash()">{{'BUTTON-SAVECHANGES' | translate}}</button> -->
    <!-- <div style="font-size:25px;padding-right:50px;">Recipes</div><div style="font-size:25px;">Drafts</div> -->
    <table class="htable">
    <tr>
    <td class="hcellnonactive"><a ng-click="gotoDash()" href='' class="ahhead">Recipes <span style="font-size:17px;">({{theTrueDashRecipes.length}})</span></a></td><td class="hcellactive"><a href='' ng-click="gotoDraftRecipe()" class="ahhead">Drafts <span style="font-size:17px;">({{dashIndex}})</span></a></td>
    </tr>
    </table>
    <!-- <button type="button" class="btn btn-outline-info btn-lg" ng-click="gotoDraftRecipe()">{{'BUTTON-DRAFTS' | translate}} <span ng-if="dashIndex > 0" class="badge badgeDraft" >{{dashIndex}}</span></button> -->
    <div><button type="button" class="btn btn-primary btn-lg" ng-click="gotoCreateRecipe()" ng-if="!theTrueDashRecipes.length==0" style="float:right;margin-top:10px;" >{{'BUTTON-ADDARECIPE' | translate}}</button></div>
</div>

<div class="row rowDash" >
<!-- <div class="list-group" id="sortable"> -->
<!-- Spash page to be displayed when there is no Recipes -->
<div ng-if="theDraftDashRecipes.length==0" style="text-align:center;"><h2>{{'TEXT-NOSAVED' | translate}}</h2></div>


  <div class="list-group-item" ng-repeat="recipe in theDraftDashRecipes" ng-if="recipe.showRecipe == false" ng-cloak><a href=""><span style="padding:10px;vertical-align: -webkit-baseline-middle;"><!-- <i class="fa fa-bars fa-1x" aria-hidden="true"></i> --></span></a>
  <a class="ui red left corner label" ng-if="recipe.videoURL !=''">
        <i class="video play icon"></i>
    </a>
  <img ng-src="{{recipe.recipeImageSrc}}" class="dashboardImages img-rounded "><span style="font-size:20px"><span style="padding:8px;">{{recipe.recipeName}}</span></span><a href="" ng-click= "editRecipeFromDraft(recipe)"><i class="fa fa-pencil fa-2x" aria-hidden="true" style="padding:8px;float:right;"></i></a><a href="" ng-click="removeRecipeDraft(recipe)"><i class="fa fa-trash fa-2x" aria-hidden="true" style="padding:8px;float:right;"></i></a></div>
<!-- </div> -->
</div>
</div><!-- <div class="container-fluid"> -->