.developer-info{
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 20px;
}
.review-paragraph{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    text-align: center;
}
.app-logo{
    width:60px;
    height:60px;
}